<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
    xmlns:p="http://www.springframework.org/schema/p" xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd 
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd 
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd">

    <!-- bean definitions here,自动扫描注入 -->
    <context:component-scan base-package="org.zyj.shsf.ops" />
    <context:component-scan base-package="org.zyj.shsf.webadmin" />
    <!-- 此行语句使得resource autowired 等四个注解可以使用 -->
    <context:annotation-config /> 
    
    <!-- 配置读取外部配置文件,可以配置多个文件， 用逗号隔开 -->
    <context:property-placeholder location="classpath:jdbc.properties" />
    <import resource="spring-hibernate.xml" />
   <!-- <import resource="spring-mvc.xml" /> -->

</beans>